@charset "EUC-KR";
img{width:20px; height:auto;}
body{margin:0px; padding:0px;}
body{
	background-color:black;
	color:white;
}
a {
  color: inherit;
  text-decoration: none;
}
#main_tbl{
	margin-top:30px;
	margin-left:auto; 
    margin-right:auto;
    width:600px;
    border-collapse:collapse;
}
#main_tbl_notice{
	margin-top:150px;
	font-size:30px;
	margin-left:auto; 
    margin-right:auto;
    width:600px;	
    text-align:left;
}
#main_tbl tr:nth-child(2n-1){
	border:2px solid white;
	height:160px;
	background-color:#262626;
	font-size:35px;
}
#main_tbl tr td:nth-child(1){
	font-size:50px;
	padding-left:20px;
}
#main_tbl tr td:nth-child(2){
	text-align:center;
}
#main_tbl tr:nth-child(1){
	border:2px solid #FF0559;
}
#main_tbl tr:nth-child(1) td:nth-child(2){
	background-color:#FF0559;
}
#main_tbl tr:nth-child(3){
	border:2px solid #F9A855;
}
#main_tbl tr:nth-child(3) td:nth-child(2){
	background-color:#F9A855;
}
#main_tbl tr:nth-child(5){
	border:2px solid #05DFBD;
}
#main_tbl tr:nth-child(5) td:nth-child(2){
	background-color:#05DFBD;
}
#main_tbl tr:nth-child(7){
	border:2px solid #F9A855;
}
#main_tbl tr:nth-child(7) td:nth-child(2){
	background-color:#F9A855;
}
#main_tbl td:nth-child(1){
	width:75%;
}
#floor{
	font-size:80px;
}
#full{
	font-size:45px;
}
#space{
	height:0px;
}
#space td{
	padding:40px 0 40px 0;
	border:none;
	height:0px;
}



#notice_name{
	margin-top:350px;
	margin-left:auto; 
    margin-right:auto;
    width:750px;
    font-size:30px;
    text-align:left;
}
#notice{
	margin-top:30px;
	margin-left:auto; 
    margin-right:auto;
    border-collapse:collapse;
    width:750px;
    border:2px solid #262626;
}
#notice tr{
	
	background-color:#262626;
}
#notice tr td div{
	font-size:30px;
	font-weight:bold;
	padding-left:20px;
	border:5px solid white;
	height:60px;
	padding-top:20px;
	border-radius:10px;
}

header {
	position: fixed;
	width:100%;
	top: 0;
	left: 0;
	right: 0;
	height:100px;
}
header table{
	width:100%;
	height:100%;
	background-color:#262626;
	text-align:center;
}
header table img{
	width:90px;
	height:auto;
}
header table td:nth-child(1){
	text-align:left;
	padding-left:20px;
	font-size:40px;
}
header table td:nth-child(2){
	text-align:center;
	font-size:40px;
}
header table td:nth-child(3){
	text-align:right;
	padding-right:20px;
}
footer {
	position: fixed;
	width:100%;
	bottom: 0;
	left: 0;
	right: 0;
	height:200px;
}
footer table{
	width:100%;
	height:100%;
	background-color:#262626;
	opacity:0.6;
	text-align:center;
}
#footer_button tr td:nth-child(1), #footer_button tr td:nth-child(3){
	width:30%;
}
#footer_button img{
	width:150px;
	height:auto;
}

#content{
	cursor:pointer;
	font-weight:bold;
}
